@page "/Login"
<!--este es el parametro formal de mensaje de error que se puso en el controlador, metodo autenticar-->
@page "/Login/{MensajeError}"

<!--aqui se llamara al controlador-->
<h3>Inicio de Sesión</h3>

<!--si viene un error-->
@if (MensajeError != null)
{
    <div class="text-danger">MensajeError</div>
}
<!--agregando formulario de inicio de desion. Cuando se ejecute este form, se ira  a la ruta  de  "action" que esta en el controller-->
<form method="post" action="/autenticar/validar">
    <div>
        <label>Usuario:</label>
        <input type="text" name="UserCode" class="form-control col-sm-6 col-md-4"/>
    </div>    
    <div>
        <Label>Contraseña:</Label>
        <input type="password" name="Password" class="form-control col-sm-6  col-md-4"/>
       
    </div>
    <button class="btn btn-primary">Ingresar</button>
</form>

@code {
    //se agrega aqui el codigo c#, y no en otra clase.razor.cs, porque el codigo es pequenio
    [Parameter] public string MensajeError { get; set; }
}
