@inherits LayoutComponentBase

<PageTitle>MiWeb</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <!--si esta autorizado (porque esta activo o existe) el usuario, aparece esteo en la web:-->
                <Authorized>
                    <!--Accediendo al codigo de usuario que inicio sesion-->
                    <span class="ml-md-auto"> Usuario Conectado: @context.User.Claims.First().Value
                        <!--esta etiqueta llevara al metodo HttpGet /salir del controller-->
                        <a href="/Salir">Cerrar Sesion</a>
                    </span>
                </Authorized>
                <!--si no (porque no esta activo o no existe), aparece esto-->
                <NotAuthorized>
                    <a href="Login" style="font-size:24px; font-weight:700" class="ml-md-auto">Iniciar Sesión</a>
                </NotAuthorized>
            </AuthorizeView>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
